.mag_div_list {
    display: inline-block;
    position: absolute;
    top: 10px;
}

.mag_div_list .input_div{
    position: relative;
    display: inline-block;
    margin: 20px;
    padding: 0px;
}

.mag_div_list .input_div .img_name_tag{
    position: absolute;
    top: 0;
    font-family: sans-serif;
    font-size: 15px;
    background-color: #dbd598;
}

.mag_div_list .input_div p:hover{
    cursor: cell;
}

.mag_div_list .input_div input{
    width: 250px;
    border: 2px solid;
}

.mag_div_list .input_div canvas{
    position: absolute;
    left: 100px;
    top: 100px;
    margin: 0px;
    padding: 0px;
    border: 2px solid #000000;
    backface-visibility: hidden;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}