/* Overall font */
div {
  font-family: sans-serif;
}

a {
  text-decoration: solid;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  width: 180px;
  top: 120%;
  left: 40%;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Banner color */
.mdc-top-app-bar {
  background-color: #CC0633;
  top: -8px;
  left: -9px;
}

/* Webpage title location on the banner */
.mdc-top-app-bar .mdc-top-app-bar__section--align-start{
  margin-left: 18%;
}

/* SFU logo location */
.mdc-top-app-bar__row .school-logo{
  position: relative;
  justify-content: flex-end;
  order: 1;
  margin-right: 10%;
}

.mdc-top-app-bar__row .school-logo img{
  transition: all .2s ease-in-out;
}

/* Indicate the SFU logo can be clicked */
.mdc-top-app-bar__row .school-logo img:hover{
  cursor: pointer;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  border-radius: 5%;
  transform: scale(1.2);
}

/* Main content margin */
.main-content{
  margin-top: 5em;
  padding-left: clamp(10px, calc((100vw - max(35%, 700px)) / 2), 20%);
  /*padding-left: 20%;*/
  padding-right: 20%;
}

/* Portrait image is cirled masked */
.main-content .portrait{
  align-items: center;
  position: absolute;
  width: min(10vw, 200px);
}

.main-content .portrait .email{
  display: block;
  float: center;
  margin-bottom: 10px;
  font-size: min(0.8vw, 15px);
}

.main-content .portrait .email:hover{
  cursor: pointer;
}

.main-content .portrait img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/*Infomation style*/
.info {
  display: inline-block;
  position: absolute;
  /*top: 10px;*/
  /*left: 170px;*/
  font-size: 1vmin;
  font-family: sans-serif;
  padding-left: 5px;
  border-radius: 10px;
  z-index: 9999;
}

.portrait >.info >.fas.fa-info-circle{
  font-size: 1vmin;
  position: relative;
  top: -30px;
  left: -10px;
}

.info:hover >.fas.fa-info-circle{
  font-size: 1vmin;
  position: relative;
  top: 5px;
}

.info:hover {
  background-color: white;
  padding: 5px 0 0 5px;
  width: 300px;
  height: 50px;
  overflow: auto;
  text-align: left !important;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.info >.extra-info {
    position: absolute;
    display: none;
    line-height: 20px;
    font-size: 0.7vmin;
    left: 20px;
  }
  
.info:hover .extra-info {
display: inline;
}

/* Name under portrait location */
.portrait .name{
  font-size: min(0.9vw, 20px);
  margin-top: 3px;
  margin-bottom: 10px;
}

/* Social media location */
.portrait .social-media{
  align-items: center;
  margin-top: 5%;
  width: min(8vw, 160px);
}

.main-content .main-scroll{
  position: absolute;
  left: 35%;
  width: max(35%, 700px);
  /*margin-right: 30%;*/
}

.main-content .main-scroll .main-introduction{
  text-align: left;
  margin-bottom: 20px;
  font-size: clamp(15px, 1vw, 20px);
}

/*Publication title*/
.main-content .main-scroll .publication-list >.title{
  font-size: clamp(18px, 2vw, 35px);
  text-align: left;
  font-weight: bold;
  margin-top: min(2vh, 40px);
  margin-bottom: min(1vh, 20px);
}

.main-content .main-scroll .publication-list{
  display: grid;
}

.main-content .main-scroll .publication-list .publication{
  display: block;
  margin-top: min(2vh, 30px);
  width: 100%;
}

.publication .image{
  max-width: min(11vw, 240px);
  float: left;
  position:relative;
  z-index: 1;
}

.publication .image img{
  transition: all .2s ease-in-out;
  max-width: min(11vw, 240px);
  height: 100%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
  border-radius: 5%;
  z-index: -1;
}

.publication .image img:hover{
  transform: scale(4.0);
  border: 1px solid;
  border-width: 1px;
  border-color: #2f303d;
  z-index: 9999;
}

.publication .image:hover{
  z-index: 9999;
}

.publication .texts{
  margin-left: min(calc(min(11vw, 240px) + 40px), 280px);
  /*margin-left: clamp(200px, 11.5vw, 280px);*/
  align-items: left;
}

.publication .texts >.title{
  align-items: left;
  text-align: left;
  font-size: min(15px, 2vw, 20px);
  font-weight: bold;
}

.publication .texts >.authors{
  text-align: left;
  font-size: min(1vw, 16px);
}

.publication .texts .button-div{
  margin-top: 10px;
  display: flex;
  align-items: left;
}

.publication .texts .button-div input.pub-button{
  display: block;
  font-size: clamp(8px, 1vw, 10px);
  height: clamp(12px, 2.2vw, 24px);
  margin-right: min(2vw, 20px);
}


.publication .texts .button-div input.github-button{
  background-color: #4298f5;
}

footer{
  margin-top: 80px;
  margin-bottom: 40px;
  display: grid;
  align-items: center;
}